.input-box {
    background-color: var(--color-surface);
    border: solid 1px var(--base-card-classic-border-color);
    box-shadow: inset 0 0 0 var(--text-field-border-width) var(--gray-a7);
    color: var(--gray-12);
    border-radius: var(--radius-2)
}