.radix-themes {
    /* TODO: Fix the need for IMPORTANT all the time
    We need to use important because this should fix an issue with inaccurate loading of css
    It seems like occasionally, Radix is loaded after our styles.
    https://www.radix-ui.com/themes/docs/overview/styling#nextjs-import-order
    Yes, I know this is Nextjs, which we don't use. I have no other ideas for why this is happening.
    */
    --default-font-family: "Mulish", sans-serif !important;
    --heading-font-family: "Aboreto", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important;
}

img {
    max-width: 100%;
    display: block;
}

.input-box {
    background-color: var(--color-surface);
    border: solid 1px var(--base-card-classic-border-color);
    box-shadow: inset 0 0 0 var(--text-field-border-width) var(--gray-a7);
    color: var(--gray-12);
    border-radius: var(--radius-6);
}